//imports
@import './variables.scss';
@import './baseStyle.scss';

//classnames
.main{
    background-color: $primary-color;
    display: flex;
    flex-flow: column;
    min-height: 71vh;
}

.mainContainer{
    margin: auto;
}

.eightyPx{
    font-weight: bold;
    font-size: 80px;
    font-family: $righteous;
    color: white;
    text-align: right;
    padding-top: 60px;
}


// not used currently
.imgFloatRight{
    float: right;
    margin-top: auto;
    margin-right: 30px;
}